@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 4rem;
    color: #b93333f8;
    margin-bottom: 20px;
}

body {
    overflow: hidden;
    background-color: #f56e3088;
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
}

.column {
    display: flex;
    flex-direction: column;
}

.cell {
    width: 40px;
    height: 40px;  
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 1px 2px 2px 1px #757575b9;
}


.red {
    background: rgb(252,0,0);
    background: radial-gradient(circle, rgba(252,0,0,1) 0%, rgba(213,0,0,1) 35%, rgba(255,0,0,1) 100%);
    height: 38px;
    width: 38px;
    border-radius: 50%;
    border: 1px solid black;
    animation: downBall 800ms;
    position: relative;
}

.black {
    background: rgb(17,12,12);
    background: radial-gradient(circle, rgba(17,12,12,1) 18%, rgba(0,0,0,1) 81%, rgba(14,5,5,1) 100%);
    height: 38px;
    width: 38px;
    border-radius: 50%;
    border: 1px solid black;
    animation: downBall 900ms;
    position: relative;
}

.player {
    height: 38px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-family: 'Satisfy', cursive;
    font-size: 1.5rem;
}

.player h3 {
    margin-right: 10px;
}

.div-red {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    border: 1px solid black;
    background: radial-gradient(circle, rgba(252,0,0,1) 0%, rgba(213,0,0,1) 35%, rgba(255,0,0,1) 100%);
}
.div-black {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    border: 1px solid black;
    background: radial-gradient(circle, rgba(17,12,12,1) 18%, rgba(0,0,0,1) 81%, rgba(14,5,5,1) 100%);
}

.bg-modal {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.75);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    transition: 650ms;
}

.modal {
    width: 70%;
    background-color: #f0dada;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 100px auto 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.modal h1 {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    text-align: center;
    color: #b93333f8;
    margin: 10px;

}

.modal h3 {
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
    text-align: center;
    color: #b93333f8;
    margin: 5px;
}

.modal p {
    font-family: 'Satisfy', cursive;
    padding: 0 15px;
}

.play-button, .reset-button {
    font-family: 'Satisfy', cursive;
    font-size: 1.3rem;
    background-color: #b93333f8;
    color: whitesmoke;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    align-self: center;
    margin: 30px 0;
}

.textFinal {
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
    text-align: center;
}

.animation-bg li{
    width: 40px;
    height: 40px;
    background-color: #a83b3b21;
    display: block;
    position: absolute;
    bottom: -40px;
    animation: up 2s infinite;
    animation-direction: alternate;
    z-index: -1;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(-700px) rotate(960deg);
    }
}

@keyframes downBall {
    0%   {top: -250px;}
    100% {top: 0px;}
}

@media screen and (min-width: 800px) {
    .modal {
        width: 50%;
    }

    .modal p {
        font-size: 1.4rem;
    }
}